{% extends 'templates/base.html.twig' %}

{% block title %}2ème étage{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/styleBase2.css') }}" type="text/css" rel="stylesheet">
{% endblock %}

{% block body%}
    {{ render(controller('App\\Controller\\HeaderController::imageAction')) }}
    <ul>
        {% for msg in app.session.flashBag.get('info') %}
            <li>{{ msg }}</li>
        {% endfor %}
    </ul>
    <ul>
        {% for msg in app.session.flashBag.get('error') %}
            <li>{{ msg }}</li>
        {% endfor %}
    </ul>
    {% block body2 %}{% endblock %}
    {{ include('templates/footer.html.twig') }}
{% endblock %}