<h2>Voici la liste des actions réalisables :</h2>
<ul>
    <li><a href="{{ path('accueilAction',{'user': user}) }}">Accueil</a></li>
    {% if user is null %}
        <li><a href="{{ path('connectUserAction',{'user': user}) }}">Se Connecter</a></li>
        <li><a href="{{ path('createOrEditUserAction') }}">S'inscrire</a></li>
    {% else %}
        <li><a href="{{ path('disconnectUserAction',{'user': user}) }}">Déconnexion</a></li>
        {% if user.isadmin ==0 %}

        <li><a href="{{ path('createOrEditUserAction',{'id': user.id}) }}">Editer mon profil</a></li>
        <li><a href="{{ path('shopProductsAction') }}">Voir le magasin</a></li>
        <li><a href="{{ path('cartListAction',{'user': user}) }}"> Mon panier</a></li>

        {% else %}
            <li><a href="{{ path('userListAction',{'user': user}) }}">Gérer les utilisateurs</a></li>
            <li><a href="{{ path('createProductAction') }}">Ajouter un produit</a></li>
            <li><a href="https://fr.wikipedia.org/wiki/Amour_et_Amnésie">Amour et Amnésie</a></li>
        {% endif %}
    {% endif %}
</ul>
<p> Il y a {{ nbProduits }} produit(s) disponible(s) dans le magasin !</p>