<h2>Voici la liste des actions réalisables :</h2>
<ul>
    <li><a href="{{ path('accueil',{'user': user}) }}">Accueil</a></li>
    {% if user is null %}
        <li><a href="{{ path('accueil',{'user': user}) }}">Se Connecter</a></li>
        <li><a href="{{ path('utilisateur_creation') }}">S'inscrire</a></li>
    {% else %}
        <li><a href="{{ path('accueil',{'user': user}) }}">Déconnexion</a></li>
        {% if user.isadmin ==0 %}

        <li><a href="{{ path('utilisateur_creation',{'id': user.id}) }}">Editer le profil</a></li>
        <li><a href="{{ path('produit_liste') }}">Magasin</a></li>
        <li><a href="{{ path('panier_liste',{'user': user}) }}">Panier</a></li>

        {% else %}
            <li><a href="{{ path('accueil',{'user': user}) }}">Gérer les utilisateurs</a></li>
            <li><a href="{{ path('produit_ajout') }}">Ajouter un produit</a></li>
            <li><a href="https://fr.wikipedia.org/wiki/Amour_et_Amnésie">Amour et Amnésie</a></li>
        {% endif %}
    {% endif %}
</ul>
<p> Il y a {{ nbProduits }} produit(s) disponible(s) dans le magasin !</p>