<body>
        <h1>Liste des utilisateurs</h1>

        <table>
                <tr>
                        <th>Login</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Date de naissance</th>
                        <th>Statut</th>
                        <th>Mot de passe</th>
                </tr>
                {% for user in utilisateurs %}
                        <tr>
                                <td>{{ user.identifiant }}</td>
                                <td>{{ user.nom }}</td>
                                <td>{{ user.prenom }}</td>
                                <td>{{ user.anniversaire|date('d-m-Y') }}</td>
                                {% if user.isadmin == 1 %}
                                        <td>admin</td>
                                {% else %}
                                        <td>user</td>
                                {% endif %}
                                <td>{{ user.motdepasse }}</td>
                        </tr>
                {% endfor %}
        </table>

</body>