{% extends 'templates/main.html.twig' %}

{% block title %}Magasin{% endblock %}

{% block body2 %}
    <h1>Liste des produits</h1>
    {% if products is empty %}
        <p>Aucun produit dans la liste</p>
    {% else %}
        <form action="{{ path('produit_addcart') }}" method="post">
            <table border="1">
                <tr align="center">
                    <th>Libellé</th>
                    <th>Prix</th>
                    <th>Stock</th>
                    <th>Choix</th>
                </tr>
                {% for produit in products %}
                    <tr align="center">
                        <td>{{ produit.libelle }}</td>
                        <td>{{ produit.prix }}</td>
                        <td>{{ produit.quantite }}</td>
                        {% if produit.quantite==0 %}
                            <td>Rupture de stock</td>
                        {% else %}
                            <td>
                                <label>
                                    <select name="{{ produit.id }}">{% for i in 0..produit.quantite %}
                                            <option>{{ i }}</option>
                                        {% endfor %}</select>
                                </label>
                            </td>
                        {% endif %}
                    </tr>
                    <br />
                {% endfor %}
            </table>
            <input type="submit" value="Commander"  />
        </form>
    {% endif %}
{% endblock %}


{# AUTEURS : Fréjoux Gaëtan && Niord Mathieu #}

