{% extends 'templates/main.html.twig' %}

{% block title %}Magasin{% endblock %}

{% block body2 %}
    <h1>Liste des produits</h1>

    <div class="container">
        {% if products is empty %}
            <p>Aucun produit dans la liste</p>
        {% else %}
            <form action="{{ path('shopRequestAction') }}" method="post">
                <table>
                    <tr>
                        <th>Libellé</th>
                        <th>Prix</th>
                        <th>Stock</th>
                        <th>Choix</th>
                    </tr>
                    {% for produit in products %}
                        <tr>
                            <td>{{ produit.libelle }}</td>
                            <td>{{ produit.prix }}</td>
                            <td>{{ produit.quantite }}</td>
                            <td>
                                <label>
                                    <select name="{{ produit.id }}">{% for i in 0..produit.quantite %}
                                            <option>{{ i }}</option>
                                        {% endfor %}</select>
                                </label>
                            </td>
                        </tr>
                        <br />
                    {% endfor %}
                </table>
                <input type="submit" value="envoie"  />
            </form>
        {% endif %}
    </div>
{% endblock %}

