{% extends 'templates/main.html.twig' %}

{% block title %}Panier{% endblock %}

{% block body2 %}
    <h1>Panier de {{ user.prenom }}</h1>

    {% if user.paniers is empty %}
        <p>Votre panier est vide !</p>
    {% else %}
        <form method="post" action="{{ path('panier_delete') }}">
            <table>
                <tr>
                    <th>Libellé</th>
                    <th>Prix u.</th>
                    <th>Quantité</th>
                    <th>Prix total</th>
                    <th>Action</th>
                </tr>
                {% for panier in user.paniers %}
                    <tr>
                        <td>{{ panier.produit.libelle }}</td>
                        <td>{{ panier.produit.prix }}</td>
                        <td>{{ panier.quantite }}</td>
                        <td>{{ panier.produit.prix * panier.quantite }}</td>
                        <td><input type="submit"  name="{{ panier.id }}" value="Supprimer"/></td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="3"></td>
                    <td><input type="submit"  name="acheter" value="Acheter"  /></td>
                    <td><input type="submit"  name="vider" value="Vider"  /> </td>
                </tr>
            </table>
        </form>
    {% endif %}
{% endblock %}
